## Task1a Cross Validation for Ridge Regression

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

In [13]:
df = pd.read_csv('./train.csv')
df.head(5)

,Id,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,0,508.451970,0.886865,0.400531,1.103694,0.135455,8.148069,9.787555,79.749674,0.045166,1.859346,1.0
1,1,3972.980713,0.303604,-1.661598,0.772695,1.696182,0.455550,86.413653,39.365705,-0.014858,0.821406,1.0
2,2,-1.084332,1.065927,-1.607320,0.063896,-0.724311,-0.088216,0.132828,-0.011718,-0.773193,-1.489933,1.0
3,3,-340.149697,0.049530,-0.780820,-1.653181,0.663369,-2.492097,-1.243722,3.099476,-1.037881,0.346979,1.0
4,4,572.648651,0.417725,-1.150429,0.258384,0.045522,5.676019,-0.470274,-2.669283,0.632083,-0.510847,1.0

In [14]:
y = df['y']
X = df._drop_axis(['Id','y'], axis=1)

#change to numpy for split function
X = np.array(X)
y = np.array(y)

In [15]:
#Set lambdas and k
lambdas = [.1, 1, 10, 100, 1000]
k = 10
submit = np.zeros(5)
print(submit[0])
RSME = 0
i = 0

reg = linear_model.LinearRegression()

#Split into k folds, each fold contains 50 rows, since (500 total rows / 10 folds)
kf = KFold(10)
print(kf.split(X))

0.0
<generator object _BaseKFold.split at 0x0000016687A0E518>

In [16]:
for l in lambdas:
    RMSE = 0
    
    #method taken from scikit-learn.org 
    #not correct
    for train_index, test_index in kf.split(X):
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y[train_index], y[test_index]
        
        ridge = Ridge(alpha=l) #alpha is lambda here
        ridge.fit(X_train, y_train)
        y_pred = ridge.predict(X_test)
    
        RMSE += mean_squared_error(y_pred, y_test)**0.5
    RMSE /= 10
    submit[i] = RMSE
    i = i + 1

In [17]:
print(submit)

[ 1.0059384   1.00260025  1.01974941  2.57628471 21.89447516]

In [19]:
np.savetxt("submit2.csv", submit, delimiter=",")